# sbt
target

# custom scripts
/*.scala

# proof tarballs
testing/TSTP/prover9
testing/TSTP/leanCoP
testing/veriT-SMT-LIB/QF_UF

# cut-intro experiments
/*.json
/termsets

# latex
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.pdf
doc/*.toc
doc/*.fdb_latexmk
doc/*.fls
doc/*.out
doc/*.lox
doc/*.synctex.gz
doc/auto
doc/_region_.*
doc/prv_user_manual.fmt
doc/*.tex.backup
*-proposal/*.aux
*-proposal/*.bbl
*-proposal/*.blg
*-proposal/*.log
*-proposal/*.pdf
*-proposal/*.toc
*-proposal/*.fdb_latexmk
*-proposal/*.fls
*-proposal/*.out
*-proposal/*.synctex.gz

# vim
.*.sw?

# idea
.idea

# eclipse
.project
.classpath
.cache
.cache-main
.cache-test
.cache-tests
*.settings


# emacs
/.ensime*
