# sbt
target

# custom scripts
/*.scala

# proof tarballs
testing/TSTP/prover9
testing/TSTP/leanCoP
testing/veriT-SMT-LIB/QF_UF

# cut-intro experiments
/*.json

# latex
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.pdf
doc/*.toc
doc/*.fdb_latexmk
doc/*.fls
doc/*.out
language-proposal/*.aux
language-proposal/*.bbl
language-proposal/*.blg
language-proposal/*.log
language-proposal/*.pdf
language-proposal/*.toc
language-proposal/*.fdb_latexmk
language-proposal/*.fls
language-proposal/*.out

# vim
.*.sw?

# idea
.idea

# eclipse
.project
.classpath
.cache
