      ***************************************************************
     *          GAPT: General Architecture for Proof Theory          *
      ***************************************************************

GAPT is a proof theory framework developed primarily at the Vienna University
of Technology. GAPT contains data structures, algorithms, parsers and other
components common in proof theory and automated deduction. In contrast to
automated and interactive theorem provers whose focus is the construction of
proofs, GAPT concentrates on the transformation and further processing of
proofs.

 Website: http://www.logic.at/gapt
 Contact: gapt@logic.at

Requirements:
 * Unix-compatible environment
 * Java 1.7 or later

 See https://github.com/gapt/gapt/wiki/External-software for details.

Starting GAPT:
 The script gapt.sh start the command-line interface of GAPT.

Using GAPT:
 Please see the file user_manual.pdf in this distribution for details.

License:
 GAPT is free software licensed under the GNU General Public License Version 3.
 See the file COPYING for details.
